body {
	background: linear-gradient(to bottom right, #2d072c 35%, #cc6699 100%);
}

#homepage {
	font-family: Chicle;
	font-size: 20px;
	text-decoration: none;
	color: #ffcc66;
	padding: 8px;
}

.mantras {
	border: none;
	padding: 80px;
	margin: 60px;
	border-radius: 6px;
}

h1 {
	font-family: Chicle;
	text-align: center;
	font-size: 65px;
	color: white;
	text-shadow: 5px 5px #101010;
}

.chakra-names {
	text-shadow: 1px 1px #101010;
	font-family: Helvetica;
	font-size: 25px;
	text-align: left;
}

.mantra-text {
	font-family: Helvetica;
	font-size: 14px;
}

.page-descriptor {
	font-family: Helvetica;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: white;
	text-shadow: 2px 2px #101010;
	text-align: center;
}

.mantra-carousel {
  display: flex;
  width: 100%;
}


.cleansing {
    background-color: #80aaff;
    border-radius: 6px;
    width: 100%;
    height: 480px;
    color: white;
    padding: 20px;
    font-size: 16px;
    margin: 4px 2px;
    font-family: Helvetica;
}

.slick-prev {
	border-radius: 6px;
	background-color: #101010;
	color: white;
	font-size: 22px;
	font-family: Chicle;
	border: none;
}

.slick-next {
	border-radius: 6px;
	background-color: #101010;
	color: white;
	font-size: 22px;
	font-family: Chicle;
	border: none;
}

.slick-prev:hover {
	background-color: white;
	color: #101010;
}

.slick-next:hover {
	background-color: white;
	color: #101010;
}

.chakra1 {
	background-image: radial-gradient(#ff0000, #ff6666);
}

.chakra2 {
	background-image: radial-gradient(#ff471a, #ff9933);
}

.chakra3 {
	background-image: radial-gradient(#ffcc00, #ffcc00);
}

.chakra4 {
	background-image: radial-gradient(#00802b, #70db70); 
}

.chakra5 {
	background-image: radial-gradient(#004de6, #80aaff); 
}

.chakra6 {
	background-image: radial-gradient(#1f1f7a, #5c5cd6); 
}

.chakra7 {
	background-image: radial-gradient(#330066, #a64dff); 
}
